html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	// min-width: 1920px;
	font-size: 15px;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 32px;
	color: #000;
	background-color: #fff;
	margin: 0; //what for?
	// text-align: center;
}

h1 {

}

h2 {
	font-size: 28px;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 32px;
	color: #000;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}


// ================
.section-title {
	// text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
}
